html,body{
	height:100%;
	width:100%;
	background-color: #111;
	color:#FFFFE5 !important;
}
*{
	margin:0;
	padding:0;
	border-width:0;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #111;
	color: #FFFFE5 !important;
	color: hsl(60, 100%, 95%) !important;;
}
body>div{
	position:relative;
	text-align:center;
	font:2em/3em Geneva, Helvetica, Arial, Verdana,  sans-serif;
	width:100%;
	margin:0em;
	padding:0em;
	height:100%;
}
.invisible{
	display:none;
}
.content-area{
	position:relative;
	height: 200px;
}
.share>.footer.button#socialize{
	height:auto;
	font:0.5em/2em Geneva, Helvetica, Arial, Verdana,  sans-serif;
	width:75%;
	margin:0;
	background-color:transparent;
	padding:5px;
	position:absolute;
	bottom:1em;
	left:12.5%;
	text-overflow: ellipsis;
}
.photo,.options{
	width:50%;
	position:absolute;
	top:0px;
}
.photo{
	left:0px;
	overflow:visible;
}
.options{
	left:50%;
}
.options > a{
	color: #E5E572 !important;
	color: hsl(60, 50%, 90%) !important;
	display:block;
	width:220px;
	font:15px/30px Geneva, Helvetica, Arial, Verdana,  sans-serif;
	margin:15px 10px;
	text-align:center;
	text-decoration:none;	
	border-radius: 20px; 	
}
#pinit{
	background-color:#CB2028; /* color of pinterest */
	-moz-box-shadow: inset 0 0 15px rgb(16, 16, 16), #CB2028 0 0 1px, rgb(255,255,255) 0 0 3px, rgba(203,32,40,0.9) 0 0 5px;
	-webkit-box-shadow: inset 0 0 15px rgb(16, 16, 16), #CB2028 0 0 1px, rgb(255,255,255) 0 0 3px, rgba(203,32,40,0.9) 0 0 5px;
	box-shadow: inset 0 0 15px rgb(16, 16, 16), #CB2028 0 0 1px, rgb(255,255,255) 0 0 3px, rgba(203,32,40,0.9) 0 0 5px;
}
#pinit:hover{
	background-color:#E7656B; /* color of pinterest */
}
#pinit:hover:active{
	box-shadow: inset 0 0 3px rgb(16, 16, 16);
}
#fb{
	background-color:#3B5998; 
	-moz-box-shadow: inset 0 0 15px rgb(32, 32, 32), #3B5998 0 0 1px, rgb(255,255,255) 0 0 3px, rgba(59,89,152,0.9) 0 0 5px;
	-webkit-box-shadow: inset 0 0 15px rgb(32, 32, 32), #3B5998 0 0 1px, rgb(255,255,255) 0 0 3px, rgba(59,89,152,0.9) 0 0 5px;
	box-shadow: inset 0 0 15px rgb(32, 32, 32), #3B5998 0 0 1px, rgb(255,255,255) 0 0 3px, rgba(59,89,152,0.9) 0 0 5px;
}
#fb:hover{
	background-color:#7E97CD; 
}
#fb:hover:active{
	box-shadow: inset 0 0 3px rgb(32, 32, 32);
}
#tw{
	background-color:#8EC1DA; /* color of twitter */
	-moz-box-shadow: inset 0 0 15px rgb(16, 16, 16), #8EC1DA 0 0 1px, rgb(255,255,255) 0 0 3px, rgba(142,193,218,0.9) 0 0 5px;
	-webkit-box-shadow: inset 0 0 15px rgb(16, 16, 16), #8EC1DA 0 0 1px, rgb(255,255,255) 0 0 3px, rgba(142,193,218,0.9) 0 0 5px;
	box-shadow: inset 0 0 15px rgb(16, 16, 16), #8EC1DA 0 0 1px, rgb(255,255,255) 0 0 3px, rgba(142,193,218,0.9) 0 0 5px;
}
#tw:hover{
	background-color:#D8EAF3; 
}
#tw:hover:active{
	-moz-box-shadow: inset 0 0 3px rgb(16, 16, 16);
	-webkit-box-shadow: inset 0 0 3px rgb(16, 16, 16);
	box-shadow: inset 0 0 3px rgb(16, 16, 16);
}
#photo{
	display:inline-block;
	width:150px;
	height:150px;
	margin-right:10px;
	float:right;
	-moz-box-shadow: hsl(60,90%,90%) 0 0 12px;
	-webkit-box-shadow: hsl(60,90%,90%) 0 0 12px;
	box-shadow: hsl(60,90%,90%) 0 0 12px;
	border-radius: 20px; 
}
div.photo{
	border-radius: 20px; 
}
#flickrLink{
	display:inline-block;
	text-decoration:none;
	font: 0.8em/3em Geneva, Helvetica, Arial, Verdana,  sans-serif;
	height:auto;
	padding:0.3em 1em;
	margin-left:5em;
}
/*********************************************************************/
.intro>div{
	font: 0.5em/1.8em Geneva, Helvetica, Arial, Verdana,  sans-serif;
	width:70%;
	text-align:left;
	margin:0 auto;
}
.intro code{
	display:block;
	margin:1em;
	background-color:rgb(64,64,64);
	border-radius: .5em;
	padding:0.5em 1em;	
}
#askPermissions{
	margin-top:2em;
}

.button{
	font: 0.8em/2em Geneva, Helvetica, Arial, Verdana,  sans-serif;
	height:4em;
	text-align:center;
	margin-top:.5em;
	padding-top:.5em;
	border-radius: .5em 1.5em; 	
	color: #7EE516 !important;
	color: hsl(90, 90%, 90%) !important;
	background-color: #72994C;
	background-color: hsla(90, 50%, 60%,0.5);
	border: 2px solid #85B259;
	border: 2px solid hsl(90, 50%, 70%);
	text-overflow: ellipsis;
}
.button:hover{
	background-color: #CC603D;
	background-color: hsla(15, 70%, 80%,0.8);
	cursor:pointer;
}
.section{
	margin-top:2em;
}
.highlight:hover{
	color:#E55B16 !important;
	color:hsl(20,90%,90%) !important;
}
.highlight:hover ~ code, code:hover{
	color:#E53916 !important;
	color:hsl(10,90%,90%) !important;
}


ul#photos{
	padding:0px;
	list-style:none;
	width:85%;
	margin:0px auto;
	float:left;
	display:inline-block;
}
#pages{
	font: .7em/0.9em Geneva, Helvetica, Arial, Verdana,  sans-serif;
	width:10%;
	display:inline-block;
}
#pages:before{
	content:'Pages \0A';
}
#pages>span{
	border-radius: 3px 9px; 	
	display:inline-block;
	padding:5px;
	margin:5px;
	border: 2px solid #D9998C;
	border: 2px solid hsl(10, 50%, 70%);
}
#pages>span.page{
	cursor:pointer;
	border: 2px solid #85B259;
	border: 2px solid hsl(90, 50%, 70%);
}
#pages>span.page:hover{
	color:#CC9966 !important;
	color:hsl(30,50%,80%) !important;
	background-color: #CC603D;
	background-color: hsla(15, 70%, 80%,0.8);
}

ul#photos>li{
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	width:30%;
	margin:1%;
	padding:1em;
	cursor:pointer;
	border-radius: .5em 1.5em; 	
	border: 2px solid #999;
	background-color: #72994C;
	background-color: hsla(90, 10%, 10%,0.5);
	border: 2px solid #85B259;
	border: 2px solid hsl(90, 50%, 70%);
	color: #7F320C !important;
	color:hsl(20,90%,50%) !important;
	text-overflow: ellipsis;
}

ul#photos>li>*{
	background-color: #72994C;
	background-color: hsla(90, 50%, 60%,0.5);
	border: 2px solid #85B259;
	border: 2px solid hsl(90, 50%, 70%);
	border-radius: .5em 1.5em; 
	padding:0.5em;	
}
ul#photos>li:before{
	content:"+";
	margin-right:0.5em;
	color:#E57E16 !important;
	color:hsl(30,90%,90%) !important;
}

ul#photos>li.yes{
	color: #E5E516 !important;
	color:hsl(60,90%,90%) !important;
}
ul#photos>li.yes:before{
	content:"-";
	color: ##7EE516 !important;
	color:hsl(90,90%,90%) !important;
}
ul#photos>li:hover{
	color: #CC9966 !important;
	color: hsl(30,50%,80%) !important;
	background-color: #CC603D;
	background-color: hsla(15, 70%, 80%,0.8);
}
ul#photos>li:hover:after{
	color:#E5AC72 !important;
	color:hsl(30,50%,90%) !important;
}

.signed{
	--overflow:hidden;
	height:100%;
	margin:0px auto;
	width:100%;
	padding:0px;
	font: 1em/1.2em Geneva, Helvetica, Arial, Verdana,  sans-serif;
}
.signed#doit>.button{
	font: 1em/3em Geneva, Helvetica, Arial, Verdana,  sans-serif;
	margin:3px 0px;
	padding:0px;
	height: auto;
	width:49%;
	display:inline-block;
	color:#E5E572 !important;
	color:hsl(60,50%,90%) !important;
	border-radius: .5em 1.5em; 	
	background-color: #181916;
	background-color: hsla(90, 10%, 10%,0.5);
	border: 2px solid #85B259;
	border: 2px solid hsl(90, 50%, 70%);
	text-overflow: ellipsis;
}
.signed#doit>.button:hover{
	background-color: #CC603D;
	background-color: hsla(15, 70%, 80%,0.8);
}
#user{
	font: 0.8em/1em  Geneva, Helvetica, Arial, Verdana,  sans-serif;
}
#user:before{
	content:'Photostream of ';
}
#logout{
	font: 0.8em/1em  Geneva, Helvetica, Arial, Verdana,  sans-serif;
	padding:0.3em;
	position:absolute;
	right:1px;
	top:1px;	
	color:#E5E516 !important;
	color:hsl(60,90%,90%) !important;
	background-color: #181916;
	background-color: hsla(90, 10%, 10%,0.5);
	border-radius: .3em .9em;
	border: 2px solid #85B259;
	border: 2px solid hsl(90, 50%, 70%);
	cursor:pointer;
}
#logout:hover{
	background-color: #CC603D;
	background-color: hsla(15, 70%, 80%,0.8);
}
.explanation{
	font: 1em/1.2em  Geneva, Helvetica, Arial, Verdana,  sans-serif;
}
.explanation.topic{
	margin-top:2em;
	text-align:left;
}
#erro{
	font: 1em/2em Geneva, Helvetica, Arial, Verdana,  sans-serif;
}
